<% provide(:title, 'Home') %>
<div class="center jumbotron">
  <h1 class="main_title">Welcome to Bug Tracker Manager</h1>

  <h2>
    Useful tool that enable an optimized bug tracking management
  </h2>

  <%= link_to "See all bugs", bugs_path, class: "btn btn-lg btn-primary" %>
</div>
