@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-light: #777;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}


/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

.main_title {
  font-size: 3em!important;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

.btn{
    color: #fff!important;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

strong{
    font-size: 1.2em!important;
}

.description{
    font-size: 1em!important;
}

/* header */

.blue{
    color: #58BEE0!important;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.3em;
  color: #58BEE0!important;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 16px;
  font-weight: normal;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}


/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: $gray-light;
  a {
    color: #555;
    &:hover {
      color: #fff;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* header */

header{
    a{
        color: #fff!important;
    }
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 50%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: 40px!important;
  border-radius: 5px;
}

input[type=submit]{
    background-color: #45BF61;
    color: #fff;
}

/* forms */
#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.field_with_errors{
    padding: 0px!important;
    background-color: transparent!important;
    display: block!important;
}

#error_explanation{
    border: 2px red solid!important;
    border-radius: 5px;
    background-color: #F5F5F5!important;
    padding: 15px!important;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}
