<footer class="footer">
    <div class="container">
  <small>
    The <a href="#">Bug tracking management tool</a>
    by <a href="#">Kévin Vacherot</a>
  </small>
  <nav>
    <ul>
        <li><%= link_to "Home", home_path %></li>
        <li><%= link_to "About",  about_path %></li>
    </ul>
  </nav>
  </div>
</footer>
