<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Add Bug", new_bug_path %></li>
          <li><%= link_to "Manage bugs",  bugs_path %></li>
          <li><%= link_to "Add comment", new_comment_path %></li>
          <li><%= link_to "Manage comments", comments_path %></li>
      </ul>
    </nav>
    <nav>
      <ul class="nav navbar-nav navbar-left">
        <li><%= link_to "Home", home_path, class: "blue" %></li>
        <li><%= link_to "About",  about_path %></li>
      </ul>
    </nav>
  </div>
</header>
