<%= form_for(@comment) do |f| %>
    
  <div class="field">
    <%= f.label :comment_content %><br>
    <%= f.text_field :comment_content %>
  </div>
  <div class="field">
    <%= f.label :bug_id %><br>
    <%= f.number_field :bug_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
