<% provide(:title, 'Edit comment') %>

<h1>Editing Comment</h1>

<hr/><br/>

<%= render 'shared/comments_error_messages' %>

<%= render 'form' %>

<%= link_to 'Show', @comment %> |
<%= link_to 'Back to manage comments', comments_path %>
