<% provide(:title, 'Manage comments') %>

<h1>Manage Comments</h1>

<hr/><br/>

<table class="table table-hover">
  <thead>
    <tr>
        <th>Id</th>
      <th>Comment content</th>
      <th>Bug id</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.id %></td>
        <td><%= comment.comment_content %></td>
        <td><%= comment.bug_id %></td>
        <td><%= link_to 'Show', comment %></td>
        <td><%= link_to 'Edit', edit_comment_path(comment) %></td>
        <td><%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add Comment', new_comment_path, class: "btn btn-success" %>
