<% provide(:title, 'Comment details') %>
<div class="jumbotron">
  <h1 class="main_title">Comment on bug_id #<%= @comment.bug_id %></h1>
    <hr/>

    <strong>Comment:</strong><br/><br/>
      <p class="description">
        <%= @comment.comment_content %>
    </p>

    <hr/>

    <%= link_to 'Edit comment', edit_comment_path(@comment) %> |
    <%= link_to 'Back to manage comments', comments_path %>
</div>
