<%= form_for(@bug) do |f| %>

  <div class="field">
    <%= f.label :bug_title %><br>
    <%= f.text_field :bug_title %>
  </div>
  <div class="field">
    <%= f.label :bug_description %><br>
    <%= f.text_field :bug_description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
