<% provide(:title, 'Edit ' + @bug.bug_title) %>
<h1>Editing Bug</h1>

<hr/><br/>

<%= render 'shared/bug_error_messages' %>

<%= render 'form' %>

<%= link_to 'Show', @bug %> |
<%= link_to 'Back to manage bugs', bugs_path %>
