<% provide(:title, 'Manage Bugs') %>

<h1>Manage Bugs</h1>

<hr/><br/>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Id</th>
      <th>Bug title</th>
      <th>Bug description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bugs.each do |bug| %>
      <tr>
        <td><%= bug.id %></td>
        <td><%= bug.bug_title %></td>
        <td><%= bug.bug_description %></td>
        <td><%= link_to 'Show', bug %></td>
        <td><%= link_to 'Edit', edit_bug_path(bug) %></td>
        <td><%= link_to 'Destroy', bug, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add Bug', new_bug_path,  class: "btn btn-success" %>
