<% provide(:title, @bug.bug_title) %>
<div class="jumbotron">
  <h1 class="main_title"><%= @bug.bug_title %></h1>
    <hr/>

    <strong>Bug description:</strong><br/><br/>
      <p class="description">
        <%= @bug.bug_description %>
    </p>

    <hr/>

      <%= link_to 'Edit bug', edit_bug_path(@bug) %> |
      <%= link_to 'Back to manage bugs', bugs_path %>
</div>
